.parent-flex-left {
  font-family: "Montserrat", sans-serif;
  width: 35%;
  display: flex;
  align-items: self-start;
  gap: 2em;
  justify-content: space-between;
  margin-right: 5%;
  flex-direction: column;
}
.f-tag {
  font-family: "Oswald", sans-serif;
  font-size: 2.5em;
  font-weight: 400;
  text-transform: uppercase;
}
.f-dis {
  font-size: 1.05em;
}
@media screen and (max-width: 1024px) {
  .f-tag {
    font-size: 1.5rem;
  }
  .f-dis {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 768px) {
  .parent-flex-left {
    margin-right: 5%;
  }
}

@media screen and (max-width: 680px) {
  .parent-flex-left {
    width: 100%;
  }
  .f-dis {
    margin-top: -1.1rem;
  }
}

@media screen and (max-width: 480px) {
  .f-tag {
    font-size: 1.2rem;
  }
  .f-dis {
    font-size: 0.6rem;
    margin-top: -1rem;
  }
  .parent-flex-left {
    width: 100%;
  }
}
