.media-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.fa-brands {
  color: #303030;
  background-color: #fff;
  cursor: pointer;
  padding: 0.6em;
  font-size: 1.1em;
  border-radius: 50px;
}
@media screen and (max-width: 425px) {
  .media-icons {
    gap: 0.5em;
  }
  .fa-brands {
    font-size: 0.8rem;
    padding: 0.4em;
  }
}
@media screen and (max-width: 375px) {
  .media-icons {
    gap: 0.5em;
  }
  .fa-brands {
    font-size: 0.8rem;
    padding: 0.4em;
  }
}
@media screen and (max-width: 320px) {
  .media-icons {
    gap: 0.5em;
  }
  .fa-brands {
    font-size: 0.8rem;
    padding: 0.4em;
  }
}
