#title-cap {
  position: relative;
  font-family: "Montserrat", sans-serif;
  top: 36%;
  left: 5%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 0em;
  flex-direction: column;
  /* width:38%; */
}
.title-head {
  font-size: 5em;
  font-weight: 600;
}
.title-discrip {
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 1em;
}
.registration {
  font-family: "Oswald", sans-serif;
  padding: 0.3em 2em;
  font-size: 1.8em;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #ff7b00;
  border: none;
  border-radius: 0.2em;
  color: white;
  outline: none;
}
@media screen and (max-width: 768px) {
  .title-head {
    font-size: 3.5rem;
  }
  .title-discrip {
    font-size: 1.2rem;
  }
  .registration {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 480px) {
  .title-head {
    font-size: 2.5rem;
  }
  .title-discrip {
    font-size: 0.75rem;
  }
  .registration {
    margin-top: 1rem;
    font-size: 1.1rem;
  }
  #title-cap {
    left: 5%;
  }
}
@media screen and (max-width: 425px) {
  .title-head {
    font-size: 1.8rem;
  }
  .title-discrip {
    font-size: 0.56rem;
  }
  .registration {
    margin-top: 1rem;
    font-size: 0.8rem;
  }
  #title-cap {
    left: 7%;
  }
}
@media screen and (max-width: 375px) {
  .title-head {
    font-size: 1.8rem;
  }
  .title-discrip {
    font-size: 0.56rem;
  }
  .registration {
    margin-top: 1rem;
    font-size: 0.8rem;
  }
  #title-cap {
    left: 7%;
  }
}
@media screen and (max-width: 320px) {
  .title-head {
    font-size: 1.8rem;
  }
  .title-discrip {
    font-size: 0.56rem;
  }
  .registration {
    margin-top: 1rem;
    font-size: 0.8rem;
  }
  #title-cap {
    left: 7%;
  }
}
