#title-cap {
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
.title-head {
  font-size: 5em;
  font-weight: 600;
}
.title-discrip {
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 1em;
}
.registration {
  font-family: "Oswald", sans-serif;
  padding: 0.3em 2em;
  font-size: 1.8em;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #ff7b00;
  border: none;
  border-radius: 0.2em;
  color: white;
  outline: none;
}
@media screen and (max-width: 850px) {
  .title-head {
    font-size: 4rem;
  }
  .title-discrip {
    font-size: 1.2rem;
  }
  .registration {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 680px) {
  .title-head {
    font-size: 2.7rem;
  }
  .title-discrip {
    font-size: 0.9rem;
  }
  .registration {
    font-size: 1.05rem;
  }
}
@media screen and (max-width: 480px) {
  .title-head {
    font-size: 2.2rem;
  }
  .title-discrip {
    font-size: 0.65rem;
  }
  .registration {
    font-size: 0.7rem;
  }
}
