.amaze-content {
  position: relative;
  background-color: #ff7b00;
  width: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner-amaze {
  padding: 0 3.5rem;
  display: flex;
  justify-content: center;
  gap: 1.5em;
  flex-direction: column;
}
.dance-imp {
  height: 100%;
  width: 50%;
  object-fit: cover;
}
.amaze-title {
  font-size: 4em;
}
.amaze-para {
  font-size: 2.4em;
}
.amaze-read {
  font-family: "Oswald", sans-serif;
  padding: 0.5em 1em;
  font-size: 1.8em;
  width: 65%;
  font-weight: 300;
  text-transform: uppercase;
  background-color: #303030;
  border: none;
  border-radius: 0.2em;
  color: white;
  outline: none;
}
@media screen and (max-width: 1024px) {
  .amaze-title {
    font-size: 2.7rem;
  }
  .amaze-para {
    font-size: 1.8rem;
  }
  .amaze-read {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 850px) {
  .amaze-title {
    font-size: 2.5rem;
  }
  .amaze-para {
    font-size: 1.6rem;
  }
  .amaze-read {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 768px) {
  .amaze-title {
    font-size: 2.2rem;
  }
  .amaze-para {
    font-size: 1.2rem;
  }
  .amaze-read {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 680px) {
  .inner-amaze {
    padding: 0 1.1rem;
  }
  .amaze-title {
    font-size: 1.8rem;
  }
  .amaze-para {
    font-size: 0.95rem;
  }
  .amaze-read {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .amaze-title {
    font-size: 1.1rem;
  }
  .amaze-para {
    font-size: 0.7rem;
  }
  .amaze-read {
    font-size: 0.6rem;
  }
}
