.links-flex-footer{
    width: 20%;
}
.l-tag{
    text-transform: uppercase;
    font-size: 2em;
    margin-bottom: 0.7em;
    font-weight: 400;
}
.l-c{
    
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    cursor: pointer;
    font-size: 1.2em;
    margin-top: 0.6em;
}
@media screen and (max-width : 950px) {
    .l-c{
     font-size: 1rem;
    }
    .l-tag{
     font-size: 1.5rem;
    }
}
@media screen and (max-width : 600px) {
    .links-flex-footer{
        width: 100%;
    }
}
@media screen and (max-width : 520px) {
    .links-flex-footer{
        width: 100%;
    }
}