.all-fields {
  width: 100%;
  display: flex;
  margin-top: 2em;
  align-items: center;
  justify-content: center;
}
#email {
  width: 40%;
  padding: 0 0.7em;
  height: 50px;
  border-radius: 5px 0px 0px 5px;
  font-size: 1.1em;
  font-weight: 500;
  border: none;
  outline: none;
}
#subscribe {
  height: 50px;
  border-radius: 0px 5px 5px 0px;
  border: none;
  background-color: #303030;
  color: #fff;
  font-size: 1.1em;
  text-transform: uppercase;
  width: 14.5%;
}
@media screen and (max-width: 930px) {
  #email {
    width: 50%;
  }
  #subscribe {
    font-size: 1rem;
    width: 22%;
  }
}
@media screen and (max-width: 768px) {
  #email {
    width: 55%;
    height: 42px;
    font-size: 1rem;
  }
  ::placeholder {
    font-size: 1rem;
  }
  #subscribe {
    height: 42px;
    width: 120px;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 480px) {
  #email {
    width: 60%;
    height: 32px;
    font-size: 0.7rem;
  }
  ::placeholder {
    font-size: 0.7rem;
  }
  #subscribe {
    height: 32px;
    width: 90px;
    font-size: 0.65rem;
  }
}
