.olampic-div {
  background-color: #303030;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 25%;
  margin-bottom: 1.5em;
  margin: 1.5em 0 3em 0;
}
.olampic-images {
  width: 100%;
}
.olampic-country {
  font-weight: 400;
  letter-spacing: 0.05em;
  font-size: 2em;
  text-transform: uppercase;
  margin: 1rem 0 0 0;
}
.olampic-discription {
  font-size: 1.15em;
  margin: 0em 0 1.5em 0;
}

@media screen and (max-width: 1200px) {
  .olampic-div {
    width: 30%;
  }
  .olampic-country {
    font-size: 1.7rem;
  }
  .olampic-discription {
    font-size: 1.08rem;
  }
}

@media screen and (max-width: 1024px) {
  .olampic-country {
    font-size: 1.5rem;
  }
  .olampic-discription {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 850px) {
  .olampic-div {
    width: 60%;
    border-radius: 10px;
  }
  .olampic-images {
    border-radius: 10px 10px 0 0;
  }
  .olampic-country {
    font-size: 2.1rem;
  }
  .olampic-discription {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 680px) {
  .olampic-div {
    width: 80%;
  }
  .olampic-country {
    font-size: 2rem;
  }
  .olampic-discription {
    font-size: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .olampic-div {
    width: 90%;
  }
  .olampic-country {
    margin-top: 2rem;
    font-size: 1.8rem;
  }
  .olampic-discription {
    font-size: 0.9rem;
    margin-top: 0.5rem;
    margin-bottom: 2.5rem;
  }
}
