.parent {
  max-width: 1536px;
  width: 1536px;
}
.head-tag {
  width: 100%;
  height: 58px;
  background-color: #303030;
  color: white;
  display: flex;
  padding: 0 6%;
  justify-content: space-between;
  align-items: center;
}
main {
  width: 100%;
}
.title-container {
  background: url("../public/img/hhhhhh.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
  color: white;
}
.tour-container {
  color: white;
  background-color: #ff7b00;
  width: 100%;
}
.tour-carding {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.pricing-container {
  color: white;
  background-color: #303030;
  width: 100%;
}
.amaze-container,
.best-dance-container {
  width: 100%;
  display: flex;
}
.statistics-container {
  padding-top: 3em;
  color: white;
  background-color: #303030;
  padding-bottom: 8em;
}
.stats-flex {
  padding-top: 3em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.herbert-container {
  width: 100%;
  height: 700px;
  background-image: url(../public/img/musiclogy-mic.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.form-container {
  padding-top: 4em;
  color: white;
  width: 100%;
  background-color: #ff7b00;
  padding-bottom: 6em;
}
footer {
  width: 100%;
  gap: 2em;
  display: flex;
  color: white;
  padding: 5em 2em;
  background-color: #303030;
  padding-left: 5.5rem;
}

/* media Queries */

@media screen and (max-width: 1440px) {
  .parent {
    max-width: 1440px;
    width: 1440px;
  }
  .head-tag {
    padding: 0 6%;
  }
  footer {
    padding-left: 5.5rem;
  }
  .herbert-container {
    height: 600px;
  }
  .amaze-container,
  .best-dance-container {
    height: 650px;
  }
}

@media screen and (max-width: 1280px) {
  .parent {
    max-width : 1280px;
    width: 1280px;
  }
  .head-tag {
    padding: 0 6%;
  }
  footer {
    padding-left: 5.5rem;
  }
  .herbert-container {
    height: 600px;
  }
  .amaze-container,
  .best-dance-container {
    height: 650px;
  }
}
@media screen and (max-width: 1024px) {
  .parent {
    max-width: 1024px;
    width: 1024px;
  }
  .head-tag {
    padding: 0 8%;
  }
  footer {
    padding: 2rem 4rem;
  }
  .herbert-container {
    height: 600px;
  }
}

@media screen and (max-width: 800px) {
  .parent {
    max-width: 800px;
    width: 800px;
  }
  .head-tag {
    padding: 0 8%;
  }
  .title-container {
    height: 70vh;
  }
  .stats-flex {
    justify-content: space-evenly;
  }
  footer {
    padding: 2rem 4rem;
  }
  .herbert-container {
    height: 500px;
  }
  .tour-carding {
    flex-direction: column;
  }
  .amaze-container,
  .best-dance-container {
    height: 450px;
  }
}

@media screen and (max-width: 768px) {
  .parent {
    max-width: 768px;
    width: 768px;
  }
  .head-tag {
    padding: 0 8%;
  }
  .title-container {
    height: 70vh;
  }
  .stats-flex {
    justify-content: space-evenly;
  }
  footer {
    padding: 2rem 4rem;
  }
  .herbert-container {
    height: 500px;
  }
  .tour-carding {
    flex-direction: column;
  }
  .amaze-container,
  .best-dance-container {
    height: 450px;
  }
}

@media screen and (max-width : 600px) {
  .parent {
    max-width: 600px;
    width: 600px;
  }
  .head-tag {
    padding: 0 8%;
  }
  .title-container {
    height: 500px;
  }
  .amaze-container,
  .best-dance-container {
    height: 350px;
  }
  .stats-flex {
    justify-content: space-evenly;
  }
  footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    padding: 2rem 2rem;
  }
  .herbert-container {
    height: 400px;
  }
}

@media screen and (max-width: 480px) {
  .parent {
    max-width: 480px;
    width: 480px;
  }
  .head-tag {
    padding: 0 8%;
  }
  .title-container {
    height: 400px;
  }
  .amaze-container,
  .best-dance-container {
    height: 350px;
  }
  .stats-flex {
    justify-content: space-evenly;
  }
  footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    padding: 2rem 2rem;
  }
  .herbert-container {
    height: 400px;
  }
}
@media screen and (max-width: 425px) {
  .parent {
    max-width: 425px;
    width: 425px;
  }
  .head-tag {
    padding: 0 8%;
  }
  .title-container {
    height: 280px;
  }
  .amaze-container,
  .best-dance-container {
    height: 300px;
  }
  .stats-flex {
    justify-content: space-evenly;
  }
  .herbert-container {
    height: 300px;
  }
  footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 375px) {
  .parent {
    max-width: 375px;
    width: 375px;
  }
  .head-tag {
    padding: 0 8%;
  }
  .title-container {
    height: 280px;
  }
  .amaze-container,
  .best-dance-container {
    height: 300px;
  }
  .stats-flex {
    justify-content: space-evenly;
  }
  .herbert-container {
    height: 300px;
  }
  footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 320px) {
  .parent {
    max-width: 320px;
    width: 320px;
  }
  .head-tag {
    padding: 0 8%;
  }
  .title-container {
    height: 280px;
  }
  .amaze-container,
  .best-dance-container {
    height: 300px;
  }
  .stats-flex {
    justify-content: space-evenly;
  }
  .herbert-container {
    height: 300px;
  }
  footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
